@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 500;
}@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 700;
}@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-weight: 600;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, menu, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
body {
    font-family: 'Raleway';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.default-btn {
    margin: 29px auto 0 auto;
    padding: 11px 0;
    width: 211px;
    height: 39px;
    font-size: 14px;
    text-align: center;
    color: white;
    background: #d05490;
    border: 1px solid #d05490;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.default-btn:hover {
    background: white;
    color: #d05490;
}
.menu {
    width: 100%;
    min-height: 38px;
    background-color: #f0f0f0;
}
nav#menu {
    overflow: hidden;
    background-color: inherit;
    display: block;
}
.menu-header-left {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}
.menu-header-right {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
.menu-item {
    display: inline-block;
}
.menu-item a {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(54, 54, 54);
    line-height: 38px;
    padding: 11px 26px 11px 26px;
    letter-spacing: 0.4px;
    font-weight: 300;
    text-decoration: none;
}
.menu-item a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #c63077;
}
.right-item a {
    padding-left: 17px;
    padding-right: 17px;
}
.headers-block {
    width: 100%;
    min-height: 154px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 1290px;
    margin: auto;
}
.logo {
    max-width: 234px;
    max-height: 108px;
    float: left;
}
#logo {
    width: 100%;
    height: auto;
}
.header-title {
    float: left;
    margin: 21px 276px 22px 24px;
}
#header-title {
    text-transform: uppercase;
    font-family: "Raleway";
    color: rgb(54, 54, 54);
    line-height: 1.2;
    font-size: 20px;
    margin: 0;
}
#header-title-span {
    text-transform: none;
    font-size: 16px;
}
.header-location {
    float: left;
    margin-top: 48px;
    margin-right: 37px;
}
.header-location p {
    margin: 0;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(54, 54, 54);
}
.header-location-list-phone {
    float: left;
    margin-top: 22px;
}
.header-location-list-phone ul {
    margin: 0;
    padding: 0;
}
.header-location-list-phone li {
    list-style-type: none;
    margin-bottom: 6px;
}
.header-location-list-phone p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(54, 54, 54);
    margin: 0;
}
.header-search {
    float: left;
    margin-left: 55px;
    margin-top: 29px;
    background: #fff;
}
.header-search input {
    width: 280px;
    height: 36px;
    border: 1px solid;
    border-color: rgb(180, 180, 180);
    border-radius: 5px;
}
#input {
    background: url(../images/search.png) no-repeat 98% transparent;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(180, 180, 180);
    padding-left: 15px;
}
#input:focus {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    outline: none;
}
.main-menu {
    width: 100%;
    min-height: 52px;
    background-color: #d05490;
    text-align: center;
}
.main-menu-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.main-menu-list-item {
    list-style-type: none;
    display: inline-block;
    padding: 18px 55px 18px 55px;
    transition: 0.5s;
}
.main-menu-list-item:hover {
    background: #c63077;
}
.link {
    font-weight: bold;
    font-family: Raleway;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.link:hover {
    color: #fff;
    text-decoration: none;
}
.main-slider {
    width: 100%;
    font-size: 0;
}
.main-slider .item {
    position: relative;
    width: 100%;
}
.main-slider .item .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1170px;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%) translateX(-50%);
}
.main-slider .item .text-block h2,
.main-slider .item .text-block p {
    display: inline-block;
    margin: 0 auto 0 0;
    width: auto;
    padding: 7px 23px;
    margin-bottom: 12px;
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 400;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.80);
}
.main-slider .item .text-block p {
    font-weight: 800;
    padding-bottom: 8px;
}
.main-slider .item .text-block .order-btn {
    display: block;
    margin: 30px 0 0 22px;
    padding: 17px 0;
    width: 253px;
    height: 52px;
    text-align: center;
    background: #d05490;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: white;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    cursor: pointer;
}
.main-slider img {
    width: 100%;
}
.main-slider .owl-dots {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}
.main-slider .owl-dots > div {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background: white;
    border: 1px solid #989797;
    margin: 0 11px;
    transition: 0.5s;
}
.main-slider .owl-dots > div.active {
    background: #d05490;
}
body .main-slider .owl-nav > div {
    position: absolute;
    right: 44px;
    top: 50%;
    width: 36px;
    height: 72px;
    transform: translateY(-50%);
    transition: 0.5s;
}
body .main-slider .owl-nav > div.disabled {
    display: none;
}
body .main-slider .owl-nav > div:hover {
    background: #d05490;
}
body .main-slider .owl-nav > div.owl-prev {
    right: initial;
    left: 44px;
    transform: rotate(180deg) translateY(50%);
}
body .main-slider .owl-nav > div::after,
body .main-slider .owl-nav > div::before {
    position: absolute;
    left: 13px;
    top: 26px;
    display: block;
    content: '';
    width: 13px;
    height: 2px;
    background: #d05490;
    transform-origin: left;
    transform: rotate(45deg);
}
body .main-slider .owl-nav > div:hover::after,
body .main-slider .owl-nav > div:hover::before {
    background: white;
}
body .main-slider .owl-nav > div::after {
    transform: rotate(-45deg);
    top: initial;
    bottom: 26px;
}
.services-list {
    width: 1320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 60px 0 0 0;
    font-size: 0;
}
.services-list .item {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 36px;
    border-top: 1px solid #dbdce0;
}
@media screen and (min-width: 1024px) {
    .services-list .item:nth-child(-n + 3) {
        border-top: none;
    }
    .services-list .item:nth-child(3n + 2) {
        border-left: 1px dashed #dbdce0;
        border-right: 1px dashed #dbdce0;
    }
}
.services-list .item .img-box {
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-list .item .img-box img {
    margin: auto auto auto 35px;
}
.services-list .item h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 7px 0;
    padding-left: 35px;
}
.services-list .item .short-text,
.services-list .item .full-text {
    font-size: 15px;
    padding-top: 17px;
    padding-left: 35px;
    padding-right: 70px;
    line-height: 24px;
}
.services-list .item .full-text {
    display: none;
}
.services-list .item .see-more {
    margin: 13px 0 0 36px;
    padding: 12px 0;
    width: 211px;
    height: 39px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #be5b8b;
    border: solid #be5b8b 1px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.services-list .item .see-more:hover {
    background: #be5b8b;
    color: white;
}
.advantages {
    margin-top: 60px;
    background: #f3f8f9  no-repeat;
    background-image: url(../images/advantages-bg-left.png), url(../images/advantages-bg.jpg);
    background-position: left top, right top;
}
.advantages-box {
    width: 1290px;
    margin: auto;
    height: 835px;
}
.advantages-box .left {
    padding: 0 0 0 135px;
}
.advantages-box .left h2 {
    padding: 57px 0 46px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.advantages-box li {
    font-size: 0;
}
.advantages-box .img-box {
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
.advantages-box .img-box img {
    margin: auto auto auto auto;
}
.advantages-box .text-block {
    display: inline-block;
    width: 540px;
}
.advantages-box .text-block h3 {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
}
.advantages-box .text-block p {
    font-size: 14px;
    line-height: 24px;
    padding-right: 63px;
    padding-bottom: 32px;
}
.advantages-box .default-btn {
    margin: 14px 0 0 0;
}
.scheme-box {
    width: 1290px;
    margin: auto;
    padding: 60px 0 60px 0;
    height: auto;
}
.scheme-box .left {
    position: relative;
    display: inline-block;
    width: 570px;
    height: 954px;
}
.scheme-box .left .circle-box {
    position: absolute;
    top: 46px;
    left: 74px;
    width: 518px;
    height: 803px;
    overflow: hidden;
    z-index: 98;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background-color: #fff;
}
.scheme-box .left .circle {
    position: absolute;
    left: -285px;
    top: 0;
    width: 803px;
    height: 803px;
    border-radius: 100%;
    border: 4px #e6e6e6 solid;
}
.scheme-box .left .circle > div {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #e6e6e6;
}
.scheme-box .left .circle > div.disc-1 {
    top: 7px;
    left: 281px;
}
.scheme-box .left .circle > div.disc-2 {
    bottom: 7px;
    left: 281px;
}
.scheme-box .left .text {
    position: absolute;
    top: 352px;
    left: 78px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    z-index: 100;
}
.scheme-box .left .text .dots {
    position: absolute;
    bottom: -41px;
    left: 3px;
    display: flex;
    justify-content: space-between;
    height: 14px;
    width: 219px;
}
.scheme-box .left .text .dots span {
    width: 14px;
    height: 14px;
    background: #d05490;
    display: block;
    border-radius: 100%;
}
.scheme-box::after {
    content: '';
    display: block;
    clear: both;
}
.scheme-box .right {
    float: right;
    width: 660px;
}
.scheme-box .right li {
    position: relative;
}
.scheme-box .right li:nth-child(4) p {padding-bottom: 28px;}

.scheme-box .right li:nth-child(5) p {
    padding-bottom: 29px;
}
.scheme-box .right .img-box {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    width: 109px;
    height: 109px;
    border-radius: 100%;
}
.scheme-box .right .img-box
.img-border {
    width: 100%;
    height: 100%;
    display: flex;
    background: url(../images/img-border.png);
    background-size: 100%;
}
.scheme-box .right .img-box
.dot {
    position: absolute;
    top: 50%;
    height: 24px;
    width: 23px;
    border-radius: 100%;
    border: 5px solid #d05490;
    transform: translateY(-50%);
    background: white;
    z-index: 99;
}
#dot-1 {
    left: -380px;
}
#dot-2 {
    left: -142px;
}
#dot-3 {
    left: -68px;
}
#dot-4 {
    left: -52px;
}
#dot-5 {
    left: -120px;
}
#dot-6 {
    left: -312px;
}
.scheme-box .right .img-box
.line {
    position: absolute;
    right: 104px;
    top: 50%;
    width: 367px;
    border-bottom: 5px dotted #d05490;
    transform: translateY(-50%);
}
.scheme-box .right .img-box img {
    margin: auto;
}
.scheme-box .right .text-block {
    display: inline-block;
    vertical-align: top;
    width: 546px;
    padding-top: 8px;
    padding-left: 25px;
}
.scheme-box .right h3 {
    padding: 0 0 23px 0;
    font-size: 20px;
    font-weight: 600;
}
.scheme-box .right p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 40px;
}
.scheme-box .right li:last-child p {
    padding-bottom: 0;
}
.scheme-box .default-btn {
    margin-top: 38px;
}
.location {
    background: #3d6889;
}
.location-box {
    width: 1290px;
    margin: auto;
    padding-bottom: 71px;
    font-size: 0;
}
.location-box .left {

    display: inline-block;

    vertical-align: top;

    padding: 96px 30px 0 0px;

    width: 329px;
}
.location-box .left h2 {
    padding-bottom: 55px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.info-list li {
    color: white;
}
.info-list .ic-box {
    padding: 6px 0 0 0;
    display: inline-block;
    vertical-align: top;
}
.info-list .text {
    padding: 1px 0px 20px 13px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 22px;
}
.location .right {
    display: inline-block;
    vertical-align: top;
    margin: 70px 0 0 0;
    width: 881px;
    height: 256px;
    overflow: hidden;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
@media screen and (max-width: 1560px) {
    .advantages {
        background-position: left -20px top, right -150px top;
    }
}
@media screen and (max-width: 1300px) {
    .container {
        width: 1200px;
    }
    .header-title {
        margin-right: 185px;
    }
    .services-list {
        width: 1200px;
    }
    .advantages-box {
        width: 1200px;
    }
    .advantages {
        background-position: left -230px top, right -200px top;
    }
    .scheme-box {
        width: 1200px;
        overflow: hidden;
    }
    .scheme-box .right .img-box
    .line {
        display: none;
    }
    .scheme-box .right .img-box
    .dot {
        display: none;
    }
    .location-box {
        width: 1200px;
    }

    .location .right {
        width: 830px;
    }
    .scheme-box .right {
        float: none;
        margin: auto;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        width: 1024px;
    }
    .header-title {
        margin-right: 10px;
    }
    .main-slider .item .text-block {
        width: 1024px;
        padding-left: 90px;
    }
    .services-list {
        width: 1024px;
    }
    .advantages {
        background-image: none;
    }
    .advantages-box {
        width: 700px;
    }
    .advantages-box .left {
        padding: 0 0 0 72px;
    }
    .scheme-box {
        width: 1024px;
    }
    .location-box {
        width: 1024px;
        padding-left: 20px;
    }
    .location .right {
        width: 640px;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: 767px;
    }
    .container::after {
        display: block;
        content: '';
        clear: both;
    }
    header .toggle-menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    header.open .toggle-menu {
    }

    header .toggle-menu span:nth-child(1) {
        transform-origin: left top;
        transform: none;
        left: 5px;
        top: 8px;
    }
    header .toggle-menu span {
        position: absolute;
        left: 5px;
        display: block;
        width: 30px;
        height: 5px;
        background: #d05490;
        transition: 0.5s;
    }
    header.home .toggle-menu span {
        background: white;
    }
    header.open .toggle-menu span:nth-child(1) {
        transform-origin: left top;
        transform: rotate(45deg);
        left: 10px;
        width: 31px;
    }
    header.open .toggle-menu span:nth-child(2) {
        transform: scale(0.01);
        transform-origin: left;
    }
    header.open .toggle-menu span:nth-child(3) {
        transform-origin: left top;
        transform: rotate(-45deg);
        left: 7px;
        bottom: 5px;
        width: 31px;
    }
    header .toggle-menu span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) scale(1);
    }
    header .toggle-menu span:nth-child(3) {
        bottom: 7px;
    }
    header {
        width: 100%;
        height: 50px;
        z-index: 1;
    }
    header .menu {
        display: none;
    }
    .headers-block {
        display: none;
    }
    .main-menu {
        display: none;
    }
    header.open {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    header.open .menu {
        display: flex;
        flex-direction: column;
        order: 2;
    }
    header.open .menu #menu {
        display: flex;
        flex-direction: column;
    }
    header.open .menu .menu-header-left {
        order: 1;
        float: none;
        display: flex;
        justify-content: center;
    }
    header.open .menu .menu-header-right {
        float: none;
        order: 0;
        display: flex;
        justify-content: center;
    }
    header.open .headers-block {
        display: block;
        order: 1;
    }
    header.open .headers-block
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
        padding-right: 50px;
        padding-left: 50px;
    }
    header.open .headers-block
    .logo {
        display: block;
        float: none;
        margin: auto 220px;
        margin-top: 20px;
    }
    header.open .headers-block
    .header-search {
        margin-top: 10px;
        margin-left: 0;
    }
    header.open .main-menu {
        display: block;
        order: 3;
    }
    .main-menu-list-item {
        padding: 18px 25px;
    }
    .main-slider .item .text-block {
        width: 767px;
    }
    .main-slider .item .text-block .order-btn {
        margin-top: 0px;
    }
    .services-list {
        width: 767px;
        margin: auto;
    }
    .services-list .item {
        width: 50%;
    }
    .services-list .item:nth-child(-n + 2) {
        border-top: none;
    }
    .services-list .item:nth-child(2n + 1) {
        border-right: 1px dashed #dbdce0;
    }
    .scheme-box {
        width: 767px;
        margin: auto;
    }
    .location-box {
        width: 767px;
        margin: auto;
    }
    .location .right {
        width: 417px;
    }
}
